<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4 rounded-circle" src="https://github.com/Wikator.png" alt="" width="100" height="100">
  <h1 class="display-5 fw-bold text-body-emphasis">About me</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">I'm a 2nd year student, learning to code both professionally and as a hobby.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="https://github.com/Wikator" class="btn btn-primary btn-lg px-4 gap-3">Github</a>
      <%= link_to "Blog", posts_path, class: "btn btn-outline-secondary btn-lg px-4" %>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="text-center my-3">
  <h1>Technologies</h1>
</div>

<div class="container marketing">
  <div class="row text-center">
    <%= render "skill",
               image: "aspnet.png",
               text: ".NET Core, and especially ASP.NET Core, are technologies I have been learning for 2+ years now. I'm quite familiar with MVC applications, both for server-side apps and APIs, and I also have some experience working with Blazor.",
               url: "https://github.com/Wikator?tab=repositories&q=&type=&language=c%23&sort=",
               title: "ASP.NET Core" %>

  <%= render "skill",
             image: "rubyonrails.png",
             text: "A framework I'm constantly learning, mostly for APIs, but also for server-side apps like this one. Though I have very few completed projects that use this framework, I'm very fond of Ruby and have a basic understanding of Rails' many features.",
             url: "https://github.com/Wikator?tab=repositories&q=&type=&language=ruby&sort=",
             title: "Ruby on Rails" %>

  <%= render "skill",
             image: "unity.png",
             text: "Through Unity, I first learned concepts of static and object-oriented programming. I spent a lot of free time making games for fun, including a larger, multiplayer game.",
             url: "https://github.com/Wikator/Tanks",
             title: "Unity" %>

  <%= render "skill",
             image: "springboot.png",
             text: "Spring Boot is a framework I've had contact with through a Hackathon and group projects.",
             url: "https://https://github.com/WIP-Work-In-Progress/wip-platform-be",
             title: "Spring Boot" %>

  <%= render "skill",
             image: "next.png",
             text: "I've learned the basics of React and Next.js in University. The biggest project I've made so far uses Next on frontend.",
             url: "https://moviesservice.onrender.com",
             title: "Next.js"%>

  <%= render "skill",
             image: "angular.png",
             text: "I know the basics of Angular through a number of smaller projects, and mostly through a course.",
             url: "https://github.com/Wikator/Course3",
             title: "Angular" %>
  </div>

  <div class="text-center mt-2">
    <h1>Featured Projects</h1>
  </div>

  <hr class="featurette-divider">
  <%= render "project",
             title: "Movies Service",
             text: "The biggest project I've made. It uses Neo4J as a database, ASP.NET Core on the backend,
        and NEXT.js on the frontend. Development took quite a while because I've learned a great deal
        about non-SQL databases, many protocols, including MQTT, SSE, etc., and tried to keep the code as clean
        as possible.",
             image: "moviesservice.png",
             links: [
               { url: "https://moviesservice.onrender.com", title: "Site" },
               { url: "https://github.com/UniversityOfGdanskProjects/projektprogramistyczny-Wikator", title: "Backend" }
             ] %>

  <hr class="featurette-divider">
  <%= render "project",
             title: "Advent of Code 2023",
             text: "In 2023, I took part in Advent of Code. Though I have not completed every single problem,
        I used several different languages and always tried to make the code as readable as possible.",
             image: "adventofcode2023.png",
             links: [
               { url: "https://github.com/Wikator/AdventOfCode2023", title: "Link to repository" }
             ] %>

  <hr class="featurette-divider">
  <%= render "project",
             title: "Daily Sudoku",
             text: "Simple full-stack application written in Blazor that resulted in me wanting
        to write as fast sudoku-solving algorithm as I could. It has a few features like new, daily puzzles
        being generated, saving progress, and the ability to create and save own puzzle.",
             image: "dailysudoku.png",
             links: [
               { url: "https://github.com/Wikator/DailySudoku", title: "Link to repository" }
             ] %>

  <hr class="featurette-divider">
  <%= render "project",
             title: "Tanks",
             text: "Topdown game made in Unity, that I worked on in 2022. It featured a single-player mode, as well
          as multiplayer through Steam Network. It took a lot of work, including scripts, graphics, and overall logic.",
             image: "tanks.png",
             links: [
               { url: "https://github.com/Wikator/Tanks", title: "Link to repository" }
             ] %>

  <hr class="featurette-divider">
</div>

<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
</footer>
